#page-gallery {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3em 0px;
    background: #25508C;
}

#page-gallery .card {
    background-color: #ffffff;
    margin: 16px;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0px 2px 4px 2px #00000070;
}
#page-gallery .card .photo {
    width: 200px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#page-gallery .card::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    top: -20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-image: url(https://www.stickpng.com/assets/images/588891e5bc2fc2ef3a1860a3.png);
    background-position: center;
    background-size: contain;
}

#page-gallery .card:nth-child(3n+1)::after { left: 55%; }
#page-gallery .card:nth-child(3n+1) { transform: rotateZ(-1deg); }
#page-gallery .card:nth-child(3n+2)::after { left: 45%; }
#page-gallery .card:nth-child(3n+2) { transform: rotateZ(1deg); }
#page-gallery .card:nth-child(3n+3)::after { left: 40%;}
#page-gallery .card:nth-child(3n+3) { transform: rotateZ(2deg); }

#page-gallery .card:nth-child(1) .photo {
    background-image: url(https://vignette.wikia.nocookie.net/leagueoflegends/images/c/c1/Mordekaiser_OriginalCentered.jpg/revision/latest?cb=20190607213523);
}
#page-gallery .card:nth-child(2) .photo {
    background-image: url(https://2.bp.blogspot.com/-B1gUa5COYuI/Xaeb8SUGLZI/AAAAAAAAP5k/-C7hmKD5Frk4TB6oAFRSN8ZCvELq_v-6wCLcBGAsYHQ/w914-h514-p-k-no-nu/thresh-lol-dark-passage-uhdpaper.com-4K-3.1158-wp.thumbnail.jpg);
    background-position: top;
}
#page-gallery .card:nth-child(3) .photo {
    background-image: url(https://i.kinja-img.com/gawker-media/image/upload/t_original/qnu1tco5epkkutxcbxrg.jpg);
}
#page-gallery .card:nth-child(4) .photo {
    background-image: url(https://i.ytimg.com/vi/oqElIW1mjlQ/maxresdefault.jpg);
    background-position: top;
}
#page-gallery .card:nth-child(5) .photo {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Fwolfenstein%2Fimages%2Fc%2Fca%2FUnknown.jpeg%2Frevision%2Flatest%3Fcb%3D20171025065633&f=1&nofb=1);
    background-position: center;
}
#page-gallery .card:nth-child(6) .photo {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapershome.com%2Fimages%2Fwallpapers%2Fwolfenstein-youngblood-2160x3840-e3-2019-poster-8k-21745.jpg&f=1&nofb=1);
}
#page-gallery .card:nth-child(7) .photo {
    background-image: url(https://i.kinja-img.com/gawker-media/image/upload/t_original/qnu1tco5epkkutxcbxrg.jpg);
    background-position: right;
}
#page-gallery .card:nth-child(8) .photo {
    background-image: url(https://pbs.twimg.com/media/DMhrd0uXcAATsaE.jpg);
    background-position: center;
}
#page-gallery .card:nth-child(9) .photo {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F236x%2F7d%2Ffe%2F5d%2F7dfe5ddef254dd04eaf444011865732c--wolfenstein-the-new-order-vapen.jpg&f=1&nofb=1);
}
#page-gallery .card:nth-child(10) .photo {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F8f%2F45%2F52%2F8f4552ac99481888f78c2eda1204a571.jpg&f=1&nofb=1);
    background-position: center;
}    